<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>705CA6741D9DF09F003D1686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705CA68D1D9DF0A0003D1686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705CA6981D9DF0A0003D1686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
